* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-image: url('/img/cabana2.jpg');
  background-image: auto;
  background-size: 100%;
}

label {
  padding-top: 5px;
  margin: auto;
}

.table{
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
}


.form-register div {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.form-register {
  color: #f1f1f1;
}

.form-register legend {
  color: #f1f1f1;
  padding-top: 10px;
}
